:root {
   --title-text-color: #212121;
   --main-text-color: #757575;
   --total-black-color: #000000;
   --total-white-color: #FFFFFF;
   --accent-text-color: #2196F3;
   --address-text-color: rgba(255, 255, 255, 0.6);
}

body {
   text-decoration: none;
   background-color: var(--total-white-color);
   font-family: 'Roboto', Verdana;
   font-style: normal;
   font-weight: 400;
}

.logo {
   position: absolute;
   width: 145px;
   height: 31px;
   left: 215px;
   top: 24px;
   color: var(--accent-text-color);
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   letter-spacing: 0.03em;
   text-decoration: none;
}

.logo-nodecor {
   color: #000
}