/* colors and fonts:
#2196F3 - blue text
#000 - total dark
#fff - total white
#212121 - light dark
#757575 - gray text
rgba(255, 255, 255, 0.6) - footer address text

*/

body {
   text-decoration: none;
   background-color: #fff;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
}

nav>a[href="/"] {
   /* position: absolute;
   width: 145px;
   height: 31px;
   left: 215px;
   top: 24px; */
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   letter-spacing: 0.03em;
   text-decoration: none;
}

.logo-blue {
   color: #2196F3;
}

.logo-black {
   color: #000;
}